################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ambience.Options.Mock/.vs/Ambience.Options.Mock
